<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <section>
      <div id="aboutSection">
        <div class="container">
          <div id="aboutContents">
            <div class="leftSideAbout">
              <h4>Sustainable Bathroom Dreams</h4>
              <h2>Creating Beautiful Bathrooms That Inspire</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda modi veniam sit, distinctio cumque, accusantium
                numquam commodi sapiente quo, explicabo atque vero. Ratione ut
                quibusdam error eos vero corporis explicabo.
              </p>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda modi veniam sit, distinctio cumque, accusantium
                numquam commodi sapiente quo, explicabo atque vero. Ratione ut
                quibusdam error eos vero corporis explicabo.
              </p>
              <a href="">daha etrafli</a>
              <a href="">bizimle elaqe</a>
            </div>
            <div class="aboutImg">
                <img src="/img/aboutimg.webp" alt="aboutImg">
            </div>
            <div id="aboutCounters">
                <div>
                    <p class="count">15</p>
                    <p>lorem</p>
                </div>
                <div>
                    <p class="count">256</p>
                    <p>lorem</p>
                </div>
                <div>
                    <p class="count">421</p>
                    <p>lorem</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="/js/about.js"></script>
  </body>
</html>
