<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bloglar</title>
    <link rel="stylesheet" href="/css/blogs.css" />
  </head>
  <body>
    <section>
      <div class="container">
        <div class="blogsTitle">
          <h3>Recent Updates</h3>
          <h2>our latest blogs</h2>
        </div>
        <div class="blogsBox">
          <a href="" class="blog">
            <div class="blogImg">
              <img src="/img/blogimg.jpg" alt="blogImg" />
            </div>
            <p><span>April 27, 2024</span> loremap</p>
            <h4>Lorem ipsum dolor sit amet</h4>
          </a>
          <a href="" class="blog">
            <div class="blogImg">
              <img src="/img/blogimg.jpg" alt="blogImg" />
            </div>
            <p><span>April 27, 2024</span> loremap</p>
            <h4>Lorem ipsum dolor sit amet</h4>
          </a>
          <a href="" class="blog">
            <div class="blogImg">
              <img src="/img/blogimg.jpg" alt="blogImg" />
            </div>
            <p><span>April 27, 2024</span> loremap</p>
            <h4>Lorem ipsum dolor sit amet</h4>
          </a>
        </div>
      </div>
    </section>
    <script src="/js/blogs.js"></script>
  </body>
</html>
