<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <footer>
      <div id="footer">
        <div class="container">
          <div id="footerTop">
            <div id="footerTopLeft">
              <img src="/img/logo.png" alt="footerLogo" />
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
                repellat?
              </p>
            </div>
            <div id="footerTopCenter">
              <ul>
                <li><a href="">+9945555555</a></li>
                <li><a href="">+9945561566</a></li>
                <li><a href="">+9945561566</a></li>
                <li><a href="">info@mail.ru</a></li>
              </ul>
              <ul>
                <li>Naviqasiya</li>
                <li><a href="">lorem</a></li>
                <li><a href="">lorem</a></li>
                <li><a href="">lorem</a></li>
                <li><a href="">lorem</a></li>
                <li><a href="">lorem</a></li>
              </ul>
            </div>
            <div id="footerTopRight">
              <h3>Lorem, ipsum dolor</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ad
                reprehenderit porro?
              </p>
              <h5>Sosial medyamız</h5>
              <ul id="footerSociaLinks">
                <li>
                  <a href=""><i class="fa-brands fa-youtube"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa-brands fa-telegram"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div id="footerBtm">
          <div id="footerBtmLeft">
            <p>
              Copyright © 2024 - Atenau. All rights reserved. Saytın bütün
              hüquqları müvafiq qanunvericiliyə əsasən qorunur.
            </p>
          </div>
          <div id="footerBtmRight">
            Saytda istifadə olunan dizayn, kadr məlumatları, mətn və foto
            şəkillər şirkətin yazılı icazəsi olmadan paylaşılması qadağandır.
            Saytın hazırlanması:
            <span><img src="/img/okmediadark.png" alt="okmediaLogo"></span>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://kit.fontawesome.com/ff1b176afe.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
