<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/gallery.css" />
  </head>
  <body>
    <section>
      <div class="container">
        <div id="galleryTitle">
          <h5>Company Project</h5>
          <h2>Company Project Gallery</h2>
          <span></span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim
            aliquam hic earum, ex facilis?
          </p>
        </div>
        <div id="galleries">
          <div id="galleryLists">
            <div id="sortGalleries">
              <span class="sortTitle">Sort Gallery</span>
              <span class="galleryBars">
                <i class="fa-solid fa-bars"></i>
              </span>
            </div>
            <ul id="galleryNav">
              <li class="galleryItemLink active">All</li>
              <li class="galleryItemLink">Mechanical</li>
              <li class="galleryItemLink">Technology</li>
              <li class="galleryItemLink">Oil</li>
            </ul>
            <div class="gallery active">
              <div class="galleryItem">
                <div class="imgBox">
                    <img src="/img/img1.jpg" alt="" />
                </div>
              </div>
              <div class="galleryItem">
                <div class="imgBox">
                    <img src="/img/img2.jpg" alt="" />
                </div>
              </div>
              <div class="galleryItem">
                <div class="imgBox">
                    <img src="/img/img3.webp" alt="" />
                </div>
              </div>
              <div class="galleryItem">
                <div class="imgBox">
                    <img src="/img/img4.webp" alt="" />
                </div>
              </div>
              <div class="galleryItem">
                <div class="imgBox">
                    <img src="/img/img1.jpg" alt="" />
                </div>
              </div>
              <div class="galleryItem">
                <div class="imgBox">
                    <img src="/img/img2.jpg" alt="" />
                </div>
              </div>
              <div class="galleryItem">
                <div class="imgBox">
                    <img src="/img/img3.webp" alt="" />
                </div>
              </div>
              <div class="galleryItem">
                <div class="imgBox">
                    <img src="/img/img4.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="gallery">
              <div class="galleryItem">
                <div class="imgBox">
                    <img src="/img/img1.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="gallery">
              <div class="galleryItem">
                <img src="/img/img2.jpg" alt="" />
              </div>
            </div>
            <div class="gallery">
              <div class="galleryItem">
                <img src="/img/img3.webp" alt="" />
              </div>
            </div>
            <div class="galleryModal">
              <span class="modalLeftIcon">
                <i class="fa-solid fa-chevron-left"></i>
              </span>
              <span class="modalRightIcon">
                <i class="fa-solid fa-chevron-right"></i>
              </span>
              <div class="galleryItem"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://kit.fontawesome.com/ff1b176afe.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/gallery.js"></script>
  </body>
</html>
