<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="../css/header.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav id="menuNav">
          <div id="logo">
            <a href="">
              <img src="/img/logo.png" alt="logo" />
            </a>
          </div>
          <ul id="menu">
            <li class="menuLink">
              <span>Company <i class="fa-solid fa-angle-down"></i></span>
              <ul class="dropMenu">
                <li class="dropLink"><a href="">About</a></li>
                <li class="dropLink"><a href="">Vacancies</a></li>
                <li class="dropLink">
                  <a href="">Trainigs, Conference and Exhibitions</a>
                </li>
              </ul>
            </li>
            <li class="menuLink">
              <span>Services <i class="fa-solid fa-angle-down"></i></span>
              <ul class="dropMenu">
                <li class="dropLink"><a href="">Solution & Design</a></li>
                <li class="dropLink"><a href="">Installation</a></li>
                <li class="dropLink"><a href="">Production</a></li>
                <li class="dropLink"><a href="">Maintenance</a></li>
                <li class="dropLink"><a href="">Sales</a></li>
              </ul>
            </li>
            <li class="menuLink">
              <span>Products <i class="fa-solid fa-angle-down"></i></span>
              <ul class="dropMenu">
                <li class="dropLink">
                  <a href="">Cable trays and accessories</a>
                </li>
                <li class="dropLink">
                  <a href="">Busbar power distribution systems</a>
                </li>
                <li class="dropLink">
                  <a href=""
                    >Power distribution, automation and control panels</a
                  >
                </li>
                <li class="dropLink">
                  <a href="">Power supply and control systems</a>
                </li>
                <li class="dropLink">
                  <a href="">Industrial Automation and Control Equipment</a>
                </li>
                <li class="dropLink">
                  <a href=""
                    >FG WILSON brand generators, spare part and options</a
                  >
                </li>
                <li class="dropLink">
                  <a href="">UPS (Uninterruptible Power Supply)</a>
                </li>
                <!-- <li class="dropLink"><a href="">Cables & Cable Accessories</a></li> -->
                <!-- <li class="dropLink"><a href="">Smart home systems</a></li> -->
                <!-- <li class="dropLink/"><a href="">Explosion-proof electrical & automation devices</a></li> -->
                <!-- <li class="dropLink"><a href="">Security systems</a></li> -->
                <!-- <li class="dropLink"><a href="">Plastic pipes and channels</a></li> -->
              </ul>
            </li>
            <li class="menuLink">
              <span>Projects <i class="fa-solid fa-angle-down"></i></span>
              <ul class="dropMenu">
                <li class="dropLink">
                  <a href="">Telecommunication & transport</a>
                </li>
                <li class="dropLink"><a href="">Tourism & Recreation</a></li>
                <li class="dropLink"><a href="">Oil & gas</a></li>
                <li class="dropLink"><a href="">Culture & Education</a></li>
                <li class="dropLink"><a href="">Energy</a></li>
                <!-- <li class="dropLink"><a href="">Finance</a></li> -->
                <!-- <li class="dropLink"><a href="">Healthcare</a></li> -->
                <!-- <li class="dropLink"><a href="">Manufacturing</a></li> -->
              </ul>
            </li>
            <li class="menuLink"><a href="">Partners</a></li>
            <li class="menuLink"><a href="">News</a></li>
            <li class="menuLink"><a href="">Contact</a></li>
          </ul>
          <div id="navContact">
            <a href="/" class="contButton">
              Lorem ipsum<i class="fa-solid fa-mobile-screen"></i>
            </a>
          </div>
        </nav>
        <nav id="mobMenuNav">
          <div id="mobMenuBox">
            <div id="mobNavLogo">
              <a href="">
                <img src="/img/logo.png" alt="logo" />
              </a>
            </div>
            <div id="mobileMenuHam">
              <svg id="ham-menu" viewBox="0 0 100 100">
                <path
                  class="line line1"
                  d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
                ></path>
                <path class="line line2" d="M 20,50 H 80"></path>
                <path
                  class="line line3"
                  d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
                ></path>
              </svg>
            </div>
          </div>
          <div id="mobNavLinks">
            <span id="mobNavLinksClose"><i class="fa-solid fa-xmark"></i></span>
            <div id="navigationLogo">
              <img src="/img/logo.png" alt="logo" />
            </div>
            <div id="mobNavigations">
              <ul class="mobNavigationsList">
                <li>
                  <a href="a">lorem</a><i class="fa-solid fa-angle-right"></i
                  ><i class="fa-solid fa-angle-down"></i>
                </li>

                <li>
                  <a href="">lorem</a>
                    <i class="fa-solid fa-angle-right"></i>
                    <i class="fa-solid fa-angle-down"></i>
                    <ul class="otherNavs">
                        <li><a href="">lorem</a></li>
                        <li><a href="">lorem</a></li>
                        <li><a href="e">lorem</a></li>
                    </ul>
                </li>

                <li>
                  <a href="c">lorem</a><i class="fa-solid fa-angle-right"></i
                  ><i class="fa-solid fa-angle-down"></i>
                </li>
                <li>
                  <a href="d">lorem</a><i class="fa-solid fa-angle-right"></i
                  ><i class="fa-solid fa-angle-down"></i>
                </li>
                <li>
                  <a href="e">lorem</a><i class="fa-solid fa-angle-right"></i
                  ><i class="fa-solid fa-angle-down"></i>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <script
      src="https://kit.fontawesome.com/ff1b176afe.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/header.js"></script>
  </body>
</html>
