<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <section>
        <div id="productsBox">
            <div class="container">
                <div id="productsContent">
                    <h2>Məhsullar</h2>
                    <div id="products">
                        <a href="">
                            <img src="/img/icon-measure-tape.svg" alt="">
                            <h4>lorem</h4>
                            <p>Our team of professionals will help you plan, design, and install your dream kitchen.</p>
                        </a>
                        <a href="">
                            <img src="/img/icon-measure-tape.svg" alt="">
                            <h4>lorem</h4>
                            <p>Our team of professionals will help you plan, design, and install your dream kitchen.</p>
                        </a>
                        <a href="">
                            <img src="/img/icon-measure-tape.svg" alt="">
                            <h4>lorem</h4>
                            <p>Our team of professionals will help you plan, design, and install your dream kitchen.</p>
                        </a>
                        <a href="">
                            <img src="/img/icon-measure-tape.svg" alt="">
                            <h4>lorem</h4>
                            <p>Our team of professionals will help you plan, design, and install your dream kitchen.</p>
                        </a>
                        <a href="">
                            <img src="/img/icon-measure-tape.svg" alt="">
                            <h4>lorem</h4>
                            <p>Our team of professionals will help you plan, design, and install your dream kitchen.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>