<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/whyChooseUs.css" />
  </head>
  <body>
    <div id="whyChoose">
      <div id="whyVideoBox">
        <div id="modalVideo">
          <span class="closeModal">
            <i class="fa-solid fa-xmark"></i>
          </span>
          <iframe
            src="https://www.youtube.com/embed/BPKFWOGjktE?si=Z-abU-shVpu9vd8-"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div id="whyChooseBox">
        <div id="whyChooseVideo">
          <img
            class="whyChooseBgImg"
            src="/img/slider1.jpg"
            alt="whyChooseBgImg"
          />
          <div class="playIcon">
            <i class="fa-solid fa-play"></i>
          </div>
        </div>
        <div id="whyChooseContent">
          <p id="headAbove">Niyə biz ?</p>
          <h2>Niyə müştərilər bizi seçir ?</h2>
          <div class="whySingleContent">
            <span><i class="fa-solid fa-industry"></i></span>
            <div>
              <h3>Lorem ipsum dolor</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Tenetur neque quidem autem cum, cupiditate sunt architecto
                itaque? Alias, dignissimos dolorem.
              </p>
            </div>
          </div>
          <div class="whySingleContent">
            <span><i class="fa-solid fa-industry"></i></span>
            <div>
              <h3>Lorem ipsum dolor</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Tenetur neque quidem autem cum, cupiditate sunt architecto
                itaque? Alias, dignissimos dolorem.
              </p>
            </div>
          </div>
          <div class="whySingleContent">
            <span><i class="fa-solid fa-industry"></i></span>
            <div>
              <h3>Lorem ipsum dolor</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Tenetur neque quidem autem cum, cupiditate sunt architecto
                itaque? Alias, dignissimos dolorem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/ff1b176afe.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/whyChoose.js"></script>
  </body>
</html>
